body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}
#weekly-tasks {
    padding: 20px;
}

#goal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

#goal-btn {
    padding: 10px;
}

#goal-message {
    margin-top: 20px;
    font-weight: bold;
}

#weekly-tasks,
#metric-converter {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#converter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

#converter-form input,
#converter-form select,
#converter-form button {
    padding: 10px;
    font-size: 16px;
}

#convert-button {
    cursor: pointer;
}

#conversion-result {
    margin-top: 20px;
    font-weight: bold;
}
